<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450533363306-v71j144m0omrhoqmthi43o97090f55hu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450533363306-v71j144m0omrhoqmthi43o97090f55hu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>450533363306-301mlhc3niavd6agjffn1ueq35e870g1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAYoi3l3srqYiupT7Ez99vtjDXMXFKpuvE</string>
	<key>GCM_SENDER_ID</key>
	<string>450533363306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toplansin.toplansin.dev</string>
	<key>PROJECT_ID</key>
	<string>toplansin-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>toplansin-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450533363306:ios:c0ccfd3b80077d98ec8413</string>
</dict>
</plist>